@model News.Entities.News

@{
    ViewData["Title"] = "Create";
}
<div>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <hr />
    <div class="row justify-content-center">
        <div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div>
                    <label for="image">Upload images:</label>
                    <input type="file" id="image" name="image" />
                </div>
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" />
                </div>
                <div>
                    <label for="text">Content:</label>
                    <textarea name="content" id="content"></textarea>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
    </div>
    <script>
        ClassicEditor
            .create(document.querySelector('#content'), {
                ckbox: {
                    tokenUrl: '@ViewData["Token"]',
                    theme: 'lark'
                },
                toolbar: [
                    'ckbox', 'imageUpload', '|', 'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
                    'blockQuote', 'indent', 'link', '|', 'bulletedList', 'numberedList'
                ],
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
